<footer class="footer">
    <div class="container">
        <div class="footer__bottom bottom-footer">
            <div class="bottom-footer__left">
                <p>
                    Копирование информации с сайта и ее размещение
                    <br>
                    возможно только с ссылкой на данный ресурс.
                </p>
                <p>
                    Языковые курсы<br> «Диалог» © 2005 - 2024
                </p>
            </div>
            <div class="bottom-footer__right">
                <a href="#">
                    Информация о платежах
                </a>
                <a href="#">
                    Соглашение об обработке персональных данных
                </a>
            </div>
        </div>
    </div>
</footer>