.main-home {
    margin: 20px 0px 62px 0px;
    @media (max-width: 992px) {
        margin: 16px 0px 16px 0px;
    }
    .container {
        @media (max-width: 992px) {
            padding: 0px 0px 0px 0px;
        }
    }

    // .main-home__bg

    &__bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        @media (max-width: 768px) {
            bottom: 21%;
        }
    }

    // .main-home__flag

    &__flag {
        position: absolute;
        top: 0;
        right: 0px;
        width: 26%;
        height: auto;
        z-index: 10;
        @media (max-width: 600px) {
            width: 46%;
        }
    }

    // .main-home__content

    &__content {
        border-radius: 30px;
        overflow: hidden;
        background-color: #f2f2fc;
        padding: 40px 40px 25px 45px;
        position: relative;
        z-index: 10;
        @media (max-width: 768px) {
            padding: 20px 18px 22px 20px;
        }
    }

    // .main-home__image

    &__image {
        position: absolute;
        height: 100%;
        width: auto;
        right: -80px;
        bottom: auto;
        top: 0;
        &.mob {
            display: none;
            @media (max-width: 992px) {
                display: block;
            }
        }
        @media (max-width: 992px) {
            border-radius: 0px 0px 30px 0px;
            position: relative;
            top: 0px;
            right: 0;
            display: none;
            width: calc(100% + 85px);
            height: auto;
            margin: 5px 0px -100px -45px;
        }
        @media (max-width: 768px) {
            width: calc(100% + 38px);
            margin: 5px 0px -100px -18px;
        }
    }

    // .main-home__body

    &__body {
        position: relative;
        z-index: 10;
    }

    // .main-home__top

    &__top {
        max-width: 790px;
        align-items: start;
        margin: 0 0 70px 0;
        flex-direction: column;
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        svg {
            margin: 9px 0px 16px 0px;
            @media (max-width: 768px) {
                margin: 5px 0px 4px 0px;
            }
        }
        .title1 {
            margin: 0px 0px 2px 0px;
        }
        @media (max-width: 992px) {
            max-width: 100%;
        }
        @media (max-width: 768px) {
            font-size: 14px;
            margin: 0px 0px 20px 0px;
        }
    }

    // .main-home__logo

    &__logo {
        width: auto;
        height: 51px;
        margin: 0 0 7px 0;
        @media (max-width: 768px) {
            display: none;
        }
    }

    // .main-home__logo-mob

    &__logo-mob {
        display: none;
        @media (max-width: 768px) {
            display: block;
            height: 51px;
            margin: 0 0 8px 0;
        }
    }

    // .main-home__title

    &__title {
        max-width: 550px;
        font-weight: 600;
        font-size: 36px;
        line-height: 120%;
        margin: 2px 0px 4px 0px;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    // .main-home__buttons

    &__buttons {
        display: flex;
        align-items: flex-end;
        gap: 55px;
        max-width: 1110px;
        @media (max-width: 768px) {
            gap: 10px;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: start;
            position: relative;
            z-index: 10;
        }
        .btn {
            flex: 0 0 311px;
            padding: 5px 32px;
            margin: 0px 0px 35px 0px;
            @media (max-width: 992px) {
                flex: 0 0 290px;
            }
            @media (max-width: 768px) {
                width: 90%;
                min-height: 55px;
                flex: 0 1 auto;
                margin: 0px 0px 0px 0px;
            }
        }
    }

    // .main-home__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 768px) {
            gap: 7px;
        }
    }

    // .main-home__time-text

    &__time-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 14px;
            padding: 0px 30px;
        }
    }
}
.time-count {
    position: relative;

    // .time-count__content

    &__content {
        position: relative;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    // .time-count__item

    &__item {
        border: 2px solid var(--theme-color-accent);
        background: #fff;
        border-radius: 15px;
        padding: 8px 14px;
        width: 85px;
        @media (max-width: 600px) {
            width: 70px;
        }
        @media (max-width: 370px) {
            padding: 8px 10px;
        }
    }

    // .time-count__days

    &__days {
    }

    // .time-count__val

    &__val {
        font-weight: 600;
        font-size: 42px;
        line-height: 150%;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 34px;
        }
    }

    // .time-count__text

    &__text {
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        @media (max-width: 600px) {
            font-size: 10px;
        }
    }

    // .time-count__sep

    &__sep {
        margin: 29px 9px 0px 9px;
        color: #3035c4;
        @media (max-width: 600px) {
            svg {
                width: 6px;
                height: 20px;
            }
        }
        @media (max-width: 370px) {
            margin: 29px 5px 0px 5px;
        }
    }

    // .time-count__hours

    &__hours {
    }

    // .time-count__minutes

    &__minutes {
    }
}

.block-packages {
    background-color: #f9f9f9;
    padding: 48px 0px;
    margin: 16px 0px 0px 0px;
    @media (max-width: 768px) {
        padding: 24px 0px 20px 0px;
        margin: 0px 0px 0px 0px;
    }
    // .block-packages__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 96px;
        @media (max-width: 768px) {
            gap: 44px;
        }
    }

    // .block-packages__top

    &__top {
        background-color: #e0e4ea;
        border-radius: 30px 30px 0px 0px;
        padding: 25px 155px 50px 32px;
        margin: 0px 0px -25px 0px;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 213px;
        @media (max-width: 768px) {
            padding: 16px 76px 45px 23px;
            min-height: 150px;
        }
        .title2 {
            position: relative;
            z-index: 10;
        }
        img {
            position: absolute;
            right: 0;
            bottom: -15%;
            height: calc(100% + 15%);
            width: auto;
            @media (max-width: 992px) {
                height: 68%;
                bottom: -3px;
                right: -8px;
            }
        }
    }

    // .block-packages__body

    &__body {
        &:nth-child(even) {
            .title2 {
                span {
                    color: #3035c4;
                }
            }
            .block-packages__column {
                background-color: #3035c4;
            }
            .item-packages__badge {
                border: 1px solid #3035c4;
                color: #3035c4;
            }
            .item-packages-bonuses {
                background: #e1e2f8;
            }
            .item-packages-bonuses__circle {
                background-color: #f2f2fc;
            }
            .item-packages-bonuses__title {
                background-color: #3035c4;
            }
            .item-packages__type {
                background-color: #3035c4;
            }
            .item-packages__icon {
                background-color: #3035c4;
            }
            .item-packages__sale {
                color: var(--theme-color-accent);
                p {
                    span {
                        &.fz {
                            color: var(--theme-color-accent);
                        }
                        &.fz2 {
                            color: var(--theme-color-accent);
                        }
                    }
                }
            }
        }
    }

    // .block-packages__column

    &__column {
        position: relative;
        z-index: 10;
        border-radius: 30px;
        background-color: var(--theme-color-accent);
        padding: 15px 15px 15px 15px;
        @media (max-width: 768px) {
            padding: 8px 8px 12px 8px;
        }
    }

    // .block-packages__item

    &__item {
        border-radius: 30px;
        padding: 24px 24px 7px 24px;
        box-shadow:
            5px 0 45px 0 rgba(129, 131, 133, 0.3),
            -1px -1px 5px 0 rgba(147, 164, 188, 0.15);
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media (max-width: 768px) {
            padding: 16px 12px;
            gap: 17px;
        }
    }

    // .block-packages__bottom

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 10px 24px;
        gap: 20px;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: start;
            padding: 20px 0px 0px 0px;
        }
        @media (max-width: 768px) {
            padding: 13px 0px 0px 0px;
            gap: 10px;
        }
        .btn {
            min-height: 52px;
            flex: 0 0 400px;
            background: #fff;
            color: var(--theme-color-text-common);
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
            @media (max-width: 1310px) {
                flex: 0 0 300px;
            }
            @media (max-width: 992px) {
                flex: 0 1 auto;
                width: 100%;
            }
        }
    }

    // .block-packages__price

    &__price {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 13px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 7px;
        }
        span {
            @media (max-width: 768px) {
                text-align: right;
            }
            &.fz {
                font-weight: 700;
                font-size: 36px;
                @media (max-width: 768px) {
                    font-size: 32px;
                }
            }
        }
    }
}
.item-packages {
    // .item-packages__top

    &__top {
        display: flex;
        gap: 20px;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 4px;
        }
    }

    // .item-packages__left

    &__left {
        flex: 0 1 446px;
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
            gap: 12px;
        }
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            @media (max-width: 992px) {
                order: 3;
            }
            @media (max-width: 768px) {
                font-size: 13px;
            }
        }
    }

    // .item-packages__badge

    &__badge {
        position: absolute;
        top: 15px;
        left: 0;
        display: flex;
        align-items: center;
        border: 1px solid var(--theme-color-accent);
        border-radius: 100px;
        background-color: #fff;
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        color: var(--theme-color-accent);
        width: 190px;
        gap: 5px;
        padding: 0px 10px 0px 0px;
        img {
            width: 49px;
            height: 48px;
            @media (max-width: 768px) {
                width: 34px;
                height: 34px;
            }
        }
        @media (max-width: 768px) {
            top: 10px;
            gap: 4px;
            width: 135px;
            font-size: 8px;
        }
    }

    // .item-packages__type

    &__type {
        font-weight: 600;
        font-size: 20px;
        line-height: 110%;
        border-radius: 20px;
        padding: 8px 24px 9px;
        color: #fff;
        background-color: var(--theme-color-accent);
        @media (max-width: 992px) {
            order: 1;
        }
        @media (max-width: 768px) {
            padding: 4px 15px 5px;
            font-size: 11px;
        }
    }

    // .item-packages__title

    &__title {
        font-weight: 700;
        font-size: 43px;
        line-height: 110%;
        @media (max-width: 1200px) {
            font-size: 40px;
        }
        @media (max-width: 992px) {
            order: 2;
        }
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 120%;
        }
    }

    // .item-packages__images

    &__images {
        position: relative;
        @media (max-width: 992px) {
            order: 4;
        }
    }

    // .item-packages__pic1

    &__pic1 {
        width: 100%;
        height: auto;
        margin: 0px 0px -20px 0px;
        @media (max-width: 992px) {
            margin: 0px 0px 0px 0px;
            min-height: 210px;
            object-fit: contain;
        }
    }

    // .item-packages__pic2

    &__pic2 {
        position: absolute;
        width: 144px;
        height: auto;
        top: -55px;
        right: 25px;
        @media (max-width: 1300px) {
            top: -15%;
            right: 0;
        }
        @media (max-width: 992px) {
            top: 0;
        }
        @media (max-width: 480px) {
            width: 104px;
            right: -10px;
        }
    }

    // .item-packages__right

    &__right {
        flex: 0 1 736px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 55px 0px 0px 0px;
        @media (max-width: 992px) {
            padding: 0px 0px 0px 0px;
            flex: 1 1 auto;
            gap: 20px;
        }
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
            @media (max-width: 768px) {
                font-size: 13px;
            }
        }
    }

    // .item-packages__list2

    &__list2 {
        ul {
            li {
                display: flex;
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                @media (max-width: 768px) {
                    font-size: 13px;
                }
                &::before {
                    content: "";
                    width: 6px;
                    height: 6px;
                    flex: 0 0 6px;
                    border-radius: 50%;
                    background-color: var(--theme-color-text-common);
                    display: block;
                    margin: 10px 10px 0px 10px;
                    @media (max-width: 768px) {
                        width: 4px;
                        height: 4px;
                        flex: 0 0 4px;
                        margin: 8px 10px 0px 10px;
                    }
                }
            }
        }
    }

    // .item-packages__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (max-width: 768px) {
            gap: 10px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 0px 0px 0px 8px;
            @media (max-width: 768px) {
                gap: 8px;
            }
            li {
                display: flex;
                gap: 12px;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                @media (max-width: 768px) {
                    font-size: 13px;
                }
                span {
                    &.fw {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    // .item-packages__list-title

    &__list-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }

    // .item-packages__icon

    &__icon {
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-color-accent);
        border-radius: 50%;
    }

    // .item-packages__bottom

    &__bottom {
        display: flex;
        gap: 20px;
        padding: 16px 0px 10px 0px;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 4px;
            padding: 0px 0px 0px 0px;
        }
        .item-packages__left {
            padding: 12px 0px 12px 12px;
            @media (max-width: 992px) {
                padding: 0px 0px 0px 0px;
            }
        }
        .item-packages__right {
            padding: 12px 26px 12px 32px;
            border-left: 2px solid var(--theme-color-text-common);
            @media (max-width: 992px) {
                padding: 0px 0px 0px 0px;
                border-left: none;
            }
        }
    }

    // .item-packages__price

    &__price {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: 600;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.01em;
        @media (max-width: 992px) {
            width: 100%;
            gap: 1px;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            display: flex;
            gap: 15px;
            align-items: center;
            @media (max-width: 768px) {
                justify-content: flex-end;
                text-align: right;
            }
            span {
                font-weight: 600;
                font-size: 30px;
                line-height: 107%;
                text-decoration: line-through;
                color: var(--theme-color-accent);
                @media (max-width: 992px) {
                    text-align: right;
                }
                @media (max-width: 768px) {
                    font-size: 24px;
                    line-height: 133%;
                }
            }
        }
    }

    // .item-packages__sale

    &__sale {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: #3035c4;
        @media (max-width: 768px) {
            font-size: 16px;
            gap: 6px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 162%;
            color: var(--theme-color-text-common);
            margin: 0px 0px 4px 0px;
            @media (max-width: 768px) {
                font-size: 14px;
                margin: 0px 0px 0px 0px;
            }
            span {
                &.fz2 {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 107%;
                    color: #3035c4;
                }
                &.fz {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 133%;
                    color: #3035c4;
                }
            }
        }
    }
}
.item-packages-block {
    border: 1px dashed var(--theme-color-text-common);
    border-radius: 20px 0;
    background: #fdf4f4;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    min-height: 87px;
    padding: 15px 15px 15px 35px;
    @media (max-width: 768px) {
        padding: 20px 12px 20px 35px;
    }
    @media (max-width: 370px) {
        padding: 20px 12px 20px 12px;
    }
    &.grey {
        background: #f2f2fc;
        .item-packages-block__circle {
            background: #e0e4ea;
        }
    }
    svg {
        position: absolute;
        z-index: 10;
        top: 12px;
        left: 12px;
    }
    p {
        position: relative;
        z-index: 10;
        font-weight: 600;
        font-size: 16px;
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
    img {
        width: 60px;
        height: auto;
        position: relative;
        z-index: 10;
    }
    // .item-packages-block__circle

    &__circle {
        position: absolute;
        top: -83px;
        left: -60px;
        background-color: #f9e1e1;
        width: 174px;
        height: 174px;
        border-radius: 50%;
    }
}
.item-packages-bonuses {
    border: 1px dashed var(--theme-color-text-common);
    border-radius: 0 20px;
    background: #fdf4f4;
    overflow: hidden;
    display: flex;
    align-items: start;
    gap: 20px;
    position: relative;
    padding: 10px;
    @media (max-width: 768px) {
        padding: 12px;
        gap: 9px;
    }
    @media (max-width: 360px) {
        flex-direction: column;
    }
    ul {
        position: relative;
        z-index: 10;
        li {
            display: flex;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            @media (max-width: 768px) {
                font-size: 13px;
            }
            &::before {
                content: "";
                width: 3px;
                height: 3px;
                flex: 0 0 3px;
                border-radius: 50%;
                background-color: var(--theme-color-text-common);
                display: block;
                margin: 9px 10px 0px 10px;
            }
            span {
                font-weight: 600;
            }
        }
    }
    // .item-packages-bonuses__title

    &__title {
        position: relative;
        z-index: 10;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        text-transform: uppercase;
        border-radius: 8px;
        color: #fff;
        background: var(--theme-color-accent);
        padding: 2px 20px;
        @media (max-width: 768px) {
            font-size: 10px;
            padding: 5px 15px;
        }
    }
    // .item-packages-bonuses__circle

    &__circle {
        position: absolute;
        top: -83px;
        left: -44px;
        background-color: #f9e1e1;
        width: 174px;
        height: 174px;
        border-radius: 50%;
    }
}

.reviews {
    padding: 48px 0px;
    background-color: #f9f9f9;
    @media (max-width: 768px) {
        padding: 24px 0px;
    }
    // .reviews__title
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 0px 25px 0px;
        @media (max-width: 768px) {
            margin: 0px 0px 33px 0px;
        }
    }
    // .reviews__arrows
    &__arrows {
    }
    // .reviews__arrow-prev
    &__arrow-prev {
    }
    // .reviews__arrow-next
    &__arrow-next {
    }
    // .reviews__content
    &__content {
    }
    // .reviews__slider
    &__slider {
        overflow: visible;
    }
    // .reviews__wrapper
    &__wrapper {
    }
    // .reviews__slide
    &__slide {
        display: flex;
        height: auto;
        @media (min-width: 501px) {
            &.swiper-slide-active {
                img {
                    transform: scale(0.95);
                }
            }
        }
        img {
            transition: transform 0.3s;
            width: 100%;
            height: auto;
            @media (min-width: 501px) {
                transform: scale(0.75);
            }
        }
    }
}
