:root {
  --container-width: 1310px;
  --container-padding: 30px;
  --theme-color-accent: #e6514a;
  --theme-color-text-common: #1c1c1c;

  --font-family: "Montserrat", sans-serif;
  --second-family: "SegoePrint", sans-serif;
}
